<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Build Your Own Pizza</title>
</head>
<body>
    <main>
        <h1>Build Your Own Pizza</h1>

        <form method="post" action="/build-your-own">


        <label>Size <select name="select" > 
            <option value="Large">Large</option>
            <option value="Medium">Medium</option>
            <option value="Smalll"></option>
        </select></label>

        <label >How many toppings? <input type="text"></label>

        <label><input type="checkbox">Gluten-Free Crust? ($2.00 extra)</label>

        <label>Special Instructions <input type="text"></label>

        <button>Submit</button>
        <a href="/">Never Mind</a>
        </form>



    </main>
    
</body>
</html>