<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Express Pizza</title>
</head>
<body>
    <Main>
        <h1>Specialty Pizzas</h1>
        <p>
            <a href="/specialty-pizza/anchovy-lovers">Anchovy Lover's</a>
            <a href="/specialty-pizza/paleo-pizza">Paleo Pizza</a>
            <a href="/specialty-pizza/dessert-pizza">Dessert Pizza</a>
        </p>

        <h1>Custom Pizza</h1>
        <p>
            <a href="/build-your-own">Build your own!</a>
        </p>

        <h1>Leave a review</h1>
        <p>
            <a href="/reviews">Click here to leave a review</a>
            </p>
    </Main>
    
</body>
</html>