<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Pizza</title>
</head>
<body>
    <main>
        <h1>Your Pizza</h1>

        <p><strong>Size: </strong>{{size}}</p>
        <p><strong>Toppins</strong>{{toppings}}</p>
        <p><strong>Gluten-Free Crust:</strong></p>

        <p><strong>Special Instructions: </strong>{{instructions}}</p>

        <p><strong>Price: </strong>{{price}}</p>

        

        <a href="/build-your-own">Build another pizza</a>
        <a href="/">Back to Homepage</a>


    </main>
    
</body>
</html>